<li>
<p><%= issue.rels[:html].href.gsub('https://github.com/', '').gsub(/\/issues\/\d+/, '') %></p>
<p><%= link_to issue.title, issue.pull_request.rels[:html].href %> by <%= issue.user.login %></p>
<a href="<%= issue.pull_request.rels[:html].href %>" class="btn btn-default">View on GitHub</a>
<% if jira_ids = issue.title.scan(/\[(.*)\]/).first.try(:first).to_s.split(' ') %>
  <% jira_ids.each do |jira_id| %>
    <a href="https://edhdev.atlassian.net/browse/<%= jira_id %>" class="btn btn-default">View <%= jira_id %> on JIRA</a>
  <% end %>
<% end %>
</li>
