<div class="jira-ticket">
<span class="status"><%= ticket.status.name %></span>
<a href="https://edhdev.atlassian.net/browse/<%= ticket.key %>" target="_blank">
  <h4><%= ticket.key %></h4>
</a>
<span class="author"><%= ticket.assignee.displayName %></span>
<p><%= ticket.summary %></p>
</div>
