<%=params[:repo]%>
<%=params[:from_sha]%>
<%=params[:until_sha]%>
<% if has_params %>
<%= render partial: 'jira_board', locals: {jira_tickets: jira_tickets} %>
<div class="git-log">
  <h2>Git Log</h2>
<%= render partial: 'git_log', collection: git_log %>
</div>
<% end %>
