<%=params[:repo]%>
<%=params[:from_sha]%>
<%=params[:until_sha]%>
<%= render partial: 'jira_board', locals: {jira_tickets: jira_tickets} %>
<div>
<%= render partial: 'git_log', collection: git_log %>
</div>
